@use 'variables' as v;
@use 'mixins' as m;

//Reset
*, *::before, *::after{
    box-sizing: inherit;
}

//Global
::selection {
    background: v.$dark-khaki;
    color: v.$white;
    text-shadow: none;
}
html{
    box-sizing: border-box;
    font-size: 62.5%; /*1 rem = 10px */
}

body{
    font-family: v.$font-paragraph;
    font-weight: v.$w-regular;
    font-size: 1.6rem; /*16px*/
    line-height: 1.6;
    color: v.$white;
    background-color: v.$black;
    overflow-x: hidden;
    &.no-scroll{
        padding-top: 5.8rem;
    }

}
@media (min-width: 1024px){
    .cursor-custom{
        width: 2rem;
        height: 2rem;
        border: .1rem solid v.$steel-gray;
        border-radius: 50%;
        box-shadow: 0 0 10rem 2rem v.$steel-gray-800; 
        position: absolute;
        pointer-events: none;
        transition-duration: 140ms;
        transition-timing-function: ease-out;
        z-index: 5;
    }
    .cursor-expand{
        border: .12rem solid v.$dark-khaki;  
        box-shadow: 0 0 4rem 1rem v.$dark-khaki;
        animation: cursorAnimation .5 forwards;
    }
    .cursor-expand-gray{
        border: .12rem solid v.$steel-gray-800;  
        box-shadow: 0 0 3rem 1rem v.$steel-gray-600;
        animation: cursorAnimation .5 forwards;
    }
    
}

@keyframes cursorAnimation {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(0);
        opacity: 0.5;
    }
}

h1, h2, h3, h4, h5{
    font-family: v.$font-title;
    font-weight: v.$w-bold;
    line-height: 1.2;
    margin: 0;
    word-wrap: break-word;
    //hyphens: auto
}
h3, h4, h5{
    font-weight: v.$w-regular;
}
h1{
    font-size: clamp(3.6rem, 1rem + 3.8vw, 5.2rem);
}
h2{
    font-size: clamp(3.2rem, 1rem + 3.5vw, 4.4rem);
}
h3{
    font-size: clamp(2.6rem, 1rem + 2.4vw, 2.8rem);
}
h4{
    font-size: clamp(1.8rem, 1rem + 1.9vw, 2.4rem);
    color: v.$steel-gray-300;
}
h5{
    font-size: clamp(1.6rem, 1rem + 1.4vw, 2rem);
    color: v.$steel-gray-300;
}

p{
    font-family: v.$font-paragraph;
    font-weight: v.$w-regular;
    font-size: clamp(1.5rem, 1rem + 1vw, 1.7rem);
    margin: 0;
}

img{
    max-width: 100%;
}
button{
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
}
a{
    text-decoration: none;
    color: v.$white;
    text-underline-offset: 2px;

    &:hover{
        color: v.$dark-khaki !important;
        transition: color 0.2s linear;
    }
}

//Utilities
.my-container{
    margin: 0 auto;
    width: min(100%, 140rem);
}
.container-fluid{
    padding: 0 !important;
}
.row{
    margin: 0 auto;
}
.show{
    display: block;
}

.hidden{
    display: none;
}

.paddings{
    @include m.padding-mobile(32px);

    @include m.tablet{
        @include m.padding-tablet(40px);
    }
    
    @include m.desktop{
        @include m.padding-desktop(72px);
    }
}
.bg-gray-950{
    background-color: v.$steel-gray-950;
}
.color-khaki{
    color: v.$dark-khaki;
}

//buttons
.btn-khaki{
    @include m.button-common-styles;
    @include m.solid-button-khaki;
}


//buttons
.btn-gray{
    @include m.button-common-styles;
    @include m.solid-button-gray;
}

//To top
.to-top__button{
    width: 4.4rem;
    height: 4.4rem;
    position: fixed;
    bottom: 2rem;
    right: 1.6rem;
    display: none;
    opacity: 0;
    transition: opacity 0.2s;
    background-color: v.$steel-gray-900;
    color: v.$white;
    border: none;
    border-radius: 50%;
    z-index: 20;

    &.active{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
