@use 'variables' as v;

//media queries
@mixin mobile{
    @media (min-width: v.$mobile) {
        @content;
    }
}

@mixin tablet{
    @media (min-width: v.$tablet) {
        @content;
    }
}

@mixin desktop{
    @media (min-width: v.$desktop) {
        @content;
    }
}


@mixin desktopXl{
    @media (min-width: v.$desktopXl) {
        @content;
    }
}

//resetear estilos listas
@mixin reset-lista{
    margin: 0;
    padding: 0;
    list-style: none;
}

//paddings
@mixin padding-desktop($vertical){
    padding: $vertical 80px;
}
@mixin padding-tablet($vertical){
    padding: $vertical 32px;
}
@mixin padding-mobile($vertical){
    padding: $vertical 16px;
}


//buttons
@mixin button-common-styles{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: v.$w-bold;
    border-radius: 12px;
    font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
    text-align: center;
}

@mixin solid-button-khaki{
    background-color: v.$dark-khaki;
    color: v.$black;
    //width definimos en los globales
    height: 46px;
    box-shadow: 0 4px 2px v.$steel-gray-800;
    transition: background-color .4s ease-in-out;

    &:hover{
        background-color: v.$black;
        color: v.$white;
    }

    &:active{
        background-color: v.$steel-gray-900;
    }
}
@mixin solid-button-gray{
    background-color: v.$steel-gray-500;
    color: v.$steel-gray-950;
    //width definimos en los globales
    height: 46px;
    box-shadow: 0 4px 2px v.$steel-gray;
    transition: background-color .4s ease-in-out;

    &:hover{
        background-color: v.$steel-gray-300;
        color: v.$steel-gray-950 !important;
    }

    &:active{
        background-color: v.$steel-gray;
    }
}