@charset "UTF-8";
/*@forward desde este index apunta a los demás archivos 
de la carpeta para compilarlo
*/
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; /*16px*/
  line-height: 1.6;
  color: #FFF;
  background-color: #292929;
}

h1, h2, h3, h4, h5 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h1 {
  font-size: clamp(3.6rem, 1rem + 3.8vw, 5.2rem);
}

h2 {
  font-size: clamp(3.2rem, 1rem + 3.5vw, 4.4rem);
}

h3 {
  font-size: clamp(2.6rem, 1rem + 2.4vw, 3.2rem);
}

h4 {
  font-size: clamp(2rem, 1rem + 1.9vw, 2.8rem);
  color: #c6d5db;
}

h5 {
  font-size: clamp(1.8rem, 1rem + 1.4vw, 2.4rem);
  color: #c6d5db;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 1rem + 1vw, 1.78rem);
}

img {
  max-width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

a {
  text-decoration: none;
  color: #FFF;
  text-underline-offset: 2px;
}
a:hover {
  color: #C3AA72 !important;
  transition: color 0.2s linear;
}

.my-container {
  margin: 0 auto;
  width: min(100%, 140rem);
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 !important;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.text-center {
  text-align: center;
}

.text-star {
  text-align: start;
}

.text-end {
  text-align: end;
}

.paddings {
  padding: 24px 16px;
}
@media (min-width: 768px) {
  .paddings {
    padding: 40px 32px;
  }
}
@media (min-width: 992px) {
  .paddings {
    padding: 72px 80px;
  }
}

.bg-gray-950 {
  background-color: #2d3239;
}

.color-khaki {
  color: #C3AA72;
}

.btn-khaki {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 12px;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
  text-align: center;
  background-color: #C3AA72;
  color: #292929;
  height: 46px;
  transition: background-color 0.4s ease-in-out;
  width: 160px;
}
.btn-khaki:hover {
  background-color: #292929;
  color: #FFF;
}
.btn-khaki:active {
  background-color: #4e5861;
}
@media (min-width: 992px) {
  .btn-khaki {
    width: 180px;
  }
}

.btn-gray {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  border-radius: 12px;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
  text-align: center;
  background-color: #99acbb;
  color: #2d3239;
  height: 46px;
  transition: background-color 0.4s ease-in-out;
  width: 140px;
}
.btn-gray:hover {
  background-color: #c6d5db;
  color: #2d3239 !important;
}
.btn-gray:active {
  background-color: #4e5861;
}
@media (min-width: 992px) {
  .btn-gray {
    width: 160px;
  }
}

/*@forward desde este index apunta a los demás archivos 
de la carpeta para compilarlo
*/
.header .my-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
@media (min-width: 768px) {
  .header .my-nav {
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
  }
}
.header .my-nav .nav__logo {
  width: 50px;
}
.header .my-nav .nav__list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem !important;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(245, 247, 248, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .header .my-nav .nav__list {
    gap: 3.2rem;
  }
}
.header .my-nav .nav__list .nav__link {
  font-size: clamp(1.4rem, 1rem + 1vw, 1.78rem);
}
@media (min-width: 768px) {
  .header .my-nav .nav__list .nav__link {
    padding: 0 0.8rem;
  }
}

.intro {
  display: flex;
  row-gap: 2.4rem;
}
.intro .intro__nombre {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-size: clamp(2.6rem, 1rem + 2.4vw, 3.6rem);
}
.intro .intro__button {
  display: none;
}
@media (min-width: 768px) {
  .intro .intro__button {
    display: flex;
  }
}
.intro .intro__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}
.intro .intro__avatar .icons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro .intro__avatar .intro__button {
  display: flex;
}
@media (min-width: 768px) {
  .intro .intro__avatar .intro__button {
    display: none !important;
  }
}

.about-me .about-me__info,
.about-me .about-me__skills {
  margin: 4rem 0;
}
.about-me .about-me__title {
  margin-bottom: 5.6rem;
}