@charset "UTF-8";
/*@forward desde este index apunta a los demás archivos 
de la carpeta para compilarlo
*/
*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; /*1 rem = 10px */
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1.6rem; /*16px*/
  line-height: 1.6;
  color: #FFF;
  background-color: #292929;
}

h1, h2, h3, h4, h5 {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
}

h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: clamp(3.6rem, 1rem + 3.8vw, 5.2rem);
}

h2 {
  font-size: clamp(3.2rem, 1rem + 3.5vw, 4.4rem);
}

h3 {
  font-size: clamp(2.6rem, 1rem + 2.4vw, 3rem);
}

h4 {
  font-size: clamp(2rem, 1rem + 1.9vw, 2.6rem);
  color: #c6d5db;
}

h5 {
  font-size: clamp(1.8rem, 1rem + 1.4vw, 2.4rem);
  color: #c6d5db;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: clamp(1.5rem, 1rem + 1vw, 1.7rem);
  margin: 0;
}

img {
  max-width: 100%;
}

button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
}

a {
  text-decoration: none;
  color: #FFF;
  text-underline-offset: 2px;
}
a:hover {
  color: #C3AA72 !important;
  transition: color 0.2s linear;
}

.my-container {
  margin: 0 auto;
  width: min(100%, 140rem);
}

.container-fluid {
  padding: 0 !important;
}

.row {
  margin: 0 auto;
}

.show {
  display: block;
}

.hidden {
  display: none;
}

.text-star {
  text-align: start;
}

.text-end {
  text-align: end;
}

.paddings {
  padding: 24px 16px;
}
@media (min-width: 768px) {
  .paddings {
    padding: 40px 32px;
  }
}
@media (min-width: 992px) {
  .paddings {
    padding: 72px 80px;
  }
}

.bg-gray-950 {
  background-color: #2d3239;
}

.color-khaki {
  color: #C3AA72;
}

.btn-khaki {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
  text-align: center;
  background-color: #C3AA72;
  color: #292929;
  height: 46px;
  box-shadow: 0 4px 2px #5c6877;
  transition: background-color 0.4s ease-in-out;
}
.btn-khaki:hover {
  background-color: #292929;
  color: #FFF;
}
.btn-khaki:active {
  background-color: #4e5861;
}

.btn-gray {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.6rem;
  font-weight: 700;
  border-radius: 0.8rem;
  padding: 0 1.2rem;
  font-size: clamp(1.4rem, 1rem + 1vw, 1.5rem);
  text-align: center;
  background-color: #99acbb;
  color: #2d3239;
  height: 46px;
  box-shadow: 0 4px 2px #718093;
  transition: background-color 0.4s ease-in-out;
}
.btn-gray:hover {
  background-color: #c6d5db;
  color: #2d3239 !important;
}
.btn-gray:active {
  background-color: #718093;
}

/*@forward desde este index apunta a los demás archivos 
de la carpeta para compilarlo
*/
.header .my-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
@media (min-width: 768px) {
  .header .my-nav {
    flex-direction: row;
    justify-content: center;
    gap: 2.4rem;
  }
}
.header .my-nav .nav__logo {
  width: 50px;
}
.header .my-nav .nav__list {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  padding: 1.2rem !important;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(245, 247, 248, 0.15);
  backdrop-filter: blur(2px);
  border-radius: 12px;
  text-align: center;
}
@media (min-width: 768px) {
  .header .my-nav .nav__list {
    gap: 3.2rem;
  }
}
.header .my-nav .nav__list .nav__link {
  font-size: clamp(1.4rem, 1rem + 1vw, 1.78rem);
}
@media (min-width: 768px) {
  .header .my-nav .nav__list .nav__link {
    padding: 0 0.8rem;
  }
}

.intro {
  display: flex;
  row-gap: 2.4rem;
}
.intro .intro__nombre {
  font-family: "Goldman", sans-serif;
  font-weight: 700;
  font-size: clamp(2.6rem, 1rem + 2.4vw, 3.6rem);
}
.intro .intro__button {
  display: none;
}
@media (min-width: 768px) {
  .intro .intro__button {
    display: inline-flex;
  }
}

.intro__avatar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.intro__avatar .avatar__image {
  width: 100%;
}
.intro__avatar .icons__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.intro__avatar .icons__link {
  padding: 0.8rem;
}
.intro__avatar .intro__button {
  display: flex;
  margin: 2.4rem 0;
}
@media (min-width: 768px) {
  .intro__avatar .intro__button {
    display: none !important;
  }
}

.my-tooltip {
  position: relative;
  display: inline-block;
}

.my-tooltip .tooltiptext {
  visibility: hidden;
  width: 10rem;
  background-color: #292929;
  color: #C3AA72;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 1.6rem;
  text-align: center;
  border-radius: 0.8rem;
  padding: 0.4rem 0.8rem;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 50%;
  margin-left: -60px;
  box-shadow: 0 0 0.8rem #8394a8;
}

.my-tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -0.2rem;
  border-width: 0.7rem;
  border-style: solid;
  border-color: transparent transparent #C3AA72 transparent;
}

.my-tooltip:hover .tooltiptext {
  visibility: visible;
}

@media (min-width: 768px) {
  .about-me {
    padding: 40px 88px;
  }
}
.about-me .about-me__info,
.about-me .about-me__skills {
  margin: 4rem 0;
}
.about-me .about-me__title {
  margin-bottom: 5.6rem;
}
.about-me .about-me__subtitle {
  margin-top: 5.6rem;
}

.herramientas {
  margin-top: 6.4rem;
}

.desarrollo-item__title,
.herramientas__title {
  margin-bottom: 4rem;
}

.desarrollo-icon__list,
.herramientas-icon__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 3.2rem;
}
@media (min-width: 768px) {
  .desarrollo-icon__list,
  .herramientas-icon__list {
    padding: 0 4.8rem;
  }
}
@media (min-width: 992px) {
  .desarrollo-icon__list,
  .herramientas-icon__list {
    padding: 0;
  }
}

.desarrollo-icon__item,
.herramientas-icon__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
}
.desarrollo-icon__item:hover .desarrollo-icon__image,
.desarrollo-icon__item:hover .herramientas-icon__image,
.herramientas-icon__item:hover .desarrollo-icon__image,
.herramientas-icon__item:hover .herramientas-icon__image {
  filter: drop-shadow(0px 0px 10px #afbfca);
  transition: filter 0.2s ease-in;
}

.experience-work__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects .projects__title {
  margin-bottom: 9.6rem;
}

.projects__content {
  display: grid;
  grid-template-columns: 1fr;
  margin: 12rem 0;
  gap: 4rem;
}
@media (min-width: 992px) {
  .projects__content {
    grid-template-columns: 1fr 2fr;
  }
}
@media (min-width: 1224px) {
  .projects__content {
    gap: 8rem;
  }
}
.projects__content .projects__project-title {
  position: relative;
  padding-left: 40px;
}
.projects__content .projects__project-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 3rem;
  height: 2rem;
  background-image: url(/static/linea.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}
.projects__content .projects__column--image {
  height: 29rem;
  margin: 0 auto;
  align-self: center;
  overflow: hidden;
  border-radius: 2.4rem;
  padding: 0 !important;
}
@media (min-width: 768px) {
  .projects__content .projects__column--image {
    width: 42rem;
  }
}
.projects__content .projects__image {
  width: 100%;
  height: 100%;
  filter: brightness(0.6);
  transition: all 0.5s ease-out;
}
.projects__content .projects__image:hover {
  filter: brightness(1);
  transform: scale(1.1);
}
.projects__content .projects__button {
  gap: 0.6rem;
  box-shadow: none;
}

.projects__button svg {
  width: 2rem;
}

@media (min-width: 992px) {
  .projects__content.column__image--right {
    grid-template-columns: 2fr 1fr;
  }
}
.projects__content.column__image--right .projects__column--image {
  grid-row: 1/2;
}
@media (min-width: 992px) {
  .projects__content.column__image--right .projects__column--image {
    grid-column: 2/3;
  }
}

.projects__column--info {
  border-radius: 1.6rem;
  background-color: #2d3239;
  padding: 2.4rem 1.6rem;
}

.projects__tags .projects__tag {
  border-radius: 0.6rem;
  background-color: #4e5861;
  color: #FFF;
  padding: 0.4rem 0.6rem;
  font-size: 1.3rem;
}
.projects__tags .projects__tag-image {
  width: 1.6rem;
}

.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}
.contact .contact__title {
  margin-bottom: 4.8rem;
}

.contact__buttons .button__link {
  box-shadow: none;
}
.contact__buttons .button__link svg {
  width: 2rem;
}