@use 'base/variables' as v;
@use 'base/mixins' as m;

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    .contact__title{
        margin: 4.8rem 0;
    }
}

.contact__buttons{
    padding: 0;
    margin: 0;
    .button__link{
        box-shadow: none;
        svg{
            width: 2rem;
        }

    }
    
}

/*FOOTER*/
.footer{
    margin-top: 4.8rem;
    padding: 1.6rem;
    border-top: 1px solid v.$steel-gray;

   .footer__text{
    font-size: 1.4rem;
   }
    .footer__copyright{
        padding-top: 2.4rem;
    }

    a{
        color: v.$dark-khaki;
        font-weight: v.$w-semiBold;

        &:hover{
            color: v.$white !important;
        }
    }
}