@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    .my-nav{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: .8rem;

        .logo{
            z-index: 10;
        }
        .nav__logo{
            width: 50px;
        }

        .nav__list{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            column-gap: 1.6rem;
            row-gap: .4rem;
            padding: 1.2rem !important;
            background-color:rgba(141, 141, 141, 0.25);
            @include m.reset-lista;
            z-index: 10;
            border-radius: 12px;
            text-align: center;

            @include m.tablet{
                gap: 3.2rem;
            }

            &.fixed{
                position: fixed;
                top: 1.6rem;
                background-color:rgba(141, 141, 141, 0.55);
                backdrop-filter: blur(2px);
                transition: all .2s linear;
            }

            .nav__link{
                font-size: clamp(1.4rem, 1rem + 1vw, 1.78rem);

                @include m.tablet{
                    padding: 0 .8rem;
                }
            }

        }
    }
}

.nav__item{

    .nav__link--active{
        color: v.$dark-khaki;
        font-weight: v.$w-bold;
    }
}


.intro{
    display: flex;
    row-gap: 2.4rem;
    .intro__nombre{
        font-family: v.$font-title;
        font-weight: v.$w-bold;
        font-size: clamp(2.6rem, 1rem + 2.4vw, 3.6rem);
    }

    .icon-tabler-code{
        color: v.$dark-khaki;
        width: 5.2rem;
        height: 5.2rem;
        animation: custom-shake 3s ease infinite;
        animation-fill-mode: both;
    }
    
}

.intro__buttons {

    .intro__button{
        display: none;
        @include m.tablet{
            display: inline-flex;
            flex: auto;
        }

        svg {
            width: 2rem;
        }
    }
}

.intro__avatar{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.6rem;

    .avatar__image{
        width: 25rem;
        height: auto;
    }

    .icons__list{
        @include m.reset-lista;
    }

    .icons__link{
        padding: .8rem;
    }
}

.intro__buttons--movil {

    .intro__button{
        display: flex;
        margin: 2.4rem 0;
        @include m.tablet{
            display: none !important;
        }

        svg {
            width: 2rem;
        }
    }
    
}

.my-tooltip {
    position: relative;
    display: inline-block;
}

.my-tooltip .tooltiptext {
    visibility: hidden;
    width: 10rem;
    background-color: v.$black;
    color: v.$dark-khaki;
    font-size: 1.3rem;
    font-weight: v.$w-semiBold;
    line-height: 1.6rem;
    text-align: center;
    border-radius: .8rem;
    padding: .4rem .8rem;
    position: absolute;
    z-index: 1;
    top: 140%;
    left: 55%;
    margin-left: -60px;
    box-shadow: 0 0 1.2rem v.$steel-gray-800;
}

.my-tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -.2rem;
    border-width: .7rem;
    border-style: solid;
    border-color: transparent transparent v.$dark-khaki transparent;
}

.my-tooltip:hover .tooltiptext {
    visibility: visible;
}

@keyframes custom-shake{
    0% {
        transform: scaleX(1);
    }
    10%, 5% {
        transform: scale3d(.9, .9, .9) rotate(-5deg);
    }
    15%, 25%, 35%, 45% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(5deg);
    }
    20%, 30%, 40% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-5deg);
    }
    50% {
        transform: scaleX(1);
    }
}