@use 'base/variables' as v;
@use 'base/mixins' as m;

.projects{

    .projects__title{
        margin-bottom: 9.6rem;
        margin-top: 4rem;
    }
    .projects__date{
        font-size: 1.4rem;
        font-style: italic;
        padding-left: 1.6rem;
    }
   
}

.projects__content{
    display: grid;
    grid-template-columns: 1fr;
    margin: 12rem 0;
    gap: 4rem;

    @include m.desktop{
        grid-template-columns: 1fr 2fr;
    }

    @include m.desktopXl{
        gap: 8rem;
    }

    .projects__project-title{
        position: relative;
        padding-left: 4rem;

        &::before{
            content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 2rem;
        background-image: url(/static/linea.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        }
    }

    .projects__column--image{
        height: 29rem;
        margin: 0 auto;
        align-self: center;
        overflow: hidden;
        border-radius: 2.4rem;
        padding: 0 !important;
        position: relative;

        @include m.tablet{
            width: 42rem;
        }
        &:hover .project-icon-box {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1); 
            cursor: pointer;
        }
        &:hover .projects__image{
            filter: brightness(.7);
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    .projects__image{
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in;
       
    }
    .projects__button{
        gap: .6rem;
    }
}
.project-icon-box{
    background: v.$black;
    color: v.$dark-khaki;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: 1.6rem;
    opacity: 0;
    z-index: 10;
    transition: .3s ease-in;

    .icon-inner{
        display: block;
        height: 100%;
        width: 100%;
    }
}

.projects__button{

    svg{
        width: 2rem;
    }
}

.projects__content{

    &.column__image--right{
        @include m.desktop{
            grid-template-columns: 2fr 1fr;
        }
        .projects__column--image{
            grid-row: 1 / 2;
            @include m.desktop{
                grid-column: 2 / 3;
            }
        }

    }
}

.projects__column--info{
    border-radius: 1.6rem;
    background-color: v.$steel-gray-950;
    padding: 2.4rem 1.6rem;
    box-shadow: inset 16px 16px 32px #272b31,
            inset -16px -16px 32px #333941;

}
.projects__tags{


    .projects__tag{
        border-radius: .6rem;
        background-color: v.$steel-gray-900;
        color: v.$white;
        padding: .4rem .6rem;
        font-size: 1.3rem;
        display: flex;
        gap: .6rem;
        align-items: center;
    }

    .projects__tag-image{
        width: 1.8rem;
    }
}


details[open] > summary {
    color: v.$dark-khaki;
}
details > summary {
    color: v.$steel-gray-500;
}

//Más proyectos
.more__projects{
    height: 0;
    overflow-y: hidden;
    transition: height .6s ease-in;

    .projects__content{
        &:first-child{
            margin: 0 0 12rem 0;
        }
    }
}

// Modal carousel
.carouselContainer{
    display: none;
    background-color: rgb(52 52 52 / 65%);
    backdrop-filter: blur(.1rem);
    align-content: center;
    width: 100%;
    height: 100%;
    place-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    transition: display .1s ease allow-discrete;

    &.show{
        display: grid;
        gap: 1.6rem;
        overflow-y: auto;
        padding: 2.4rem 0;
    }


    .carousel{
        width: min(98%, 65rem);
        margin: 0 1.6rem;

        .image-modal{
            max-width: 100%;
            height: auto;
            border-radius: 0.8rem;
        }
    }

    .btn-close-modal{
        margin-top: .6rem;
        box-shadow: none;
        cursor: pointer;
    }

    .icon-tabler-logout{
        transform: rotate(180deg);
    }
    
}

.carousel-control-next-icon, 
.carousel-control-prev-icon{
    width: 2.4rem;
    height: 2.4rem;
    background-color: v.$steel-gray-800;
    border-radius: .6rem;
}