@use 'base/variables' as v;
@use 'base/mixins' as m;

.projects{
    @include m.desktop{
        padding: 7.2rem 2.4rem;
    }

    .projects__title{
        margin-bottom: 9.6rem;
        margin-top: 4rem;
    }
    .projects__date{
        font-size: 1.4rem;
        font-style: italic;
        padding-left: 1.6rem;
        font-weight: v.$w-bold;
    }
   
}

.projects-container {
    display: grid;
    gap: 4.8rem;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    margin-bottom: 4.8rem;
}

.projects__content{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    border-radius: 2.4rem;
    background-color: v.$steel-gray-950;
    padding: 1.6rem;
    border: 1px solid v.$steel-gray-900;
    box-shadow:  8px 8px 24px #1e2126,
             -8px -8px 24px #333941;

    .projects__project-title{
        position: relative;
        padding-left: 4rem;

        &::before{
            content: "";
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 3rem;
        height: 2rem;
        background-image: url(/static/linea.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left center;
        }
    }

    .projects__column--image{
        margin: 0 auto;
        align-self: center;
        overflow: hidden;
        border-radius: 1.6rem;
        padding: 0 !important;
        position: relative;

        &:hover .project-icon-box {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1); 
            cursor: pointer;
        }
        &:hover .projects__image{
            filter: brightness(.7);
            transform: scale(1.05);
            cursor: pointer;
        }
    }
    .projects__image{
        width: 100%;
        height: 100%;
        transition: transform 0.3s ease-in;
       
    }
    .projects__button{
        gap: .6rem;
    }
}
.project-icon-box{
    background: v.$black;
    color: v.$dark-khaki;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    font-size: 1.6rem;
    padding: 1.2rem;
    border-radius: 1.6rem;
    opacity: 0;
    z-index: 10;
    transition: .3s ease-in;

    .icon-inner{
        display: block;
        height: 100%;
        width: 100%;
    }
}

.projects__button{

    svg{
        width: 2rem;
    }
}

.projects__tags{


    .projects__tag{
        border-radius: 999.9rem;
        background-color: v.$light-khaki;
        color: v.$dark-khaki;
        padding: .4rem 1.2rem;
        font-size: 1.3rem;
        display: flex;
        gap: .6rem;
        align-items: center;
    }
}


details[open] > summary {
    color: v.$dark-khaki;
}
details > summary {
    color: v.$steel-gray-500;
}

// Otros Proyectos
.other-projects {

    .other-project__title {
        
        @include m.desktop {
            text-align: center;
        }
    }
    .other-projects__content {
        padding-top: 3rem;
        padding-left: 3rem;
    }

    .project {
        border-bottom: 1px solid v.$steel-gray-800;
        padding: 1.6rem 0;
    }

    .projects__button {
        height: auto;
        padding: .4rem 1.2rem;
    }
}

// Modal carousel
.carouselContainer{
    display: none;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(.2rem);
    align-content: center;
    width: 100%;
    height: 100%;
    place-items: center;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 20;
    transition: display .1s ease allow-discrete;

    &.show{
        display: grid;
        gap: 1.6rem;
        overflow-y: auto;
        padding: 2.4rem 0;
    }


    .carousel{
        width: min(98%, 70rem);
        margin: 0 1.6rem;

        .image-modal{
            max-width: 100%;
            height: auto;
            border-radius: 0.8rem;
        }
    }

    .btn-close-modal{
        margin-top: .6rem;
        box-shadow: none;
        cursor: pointer;
    }

    .icon-tabler-logout{
        transform: rotate(180deg);
    }
    
}

.carousel-control-next-icon, 
.carousel-control-prev-icon{
    width: 3.2rem;
    height: 3.2rem;
    background-color: v.$steel-gray-900;
    border-radius: .6rem;
    background-size: 3.2rem;
}